body, html
{
    font-family: 'Fredoka', sans-serif;
    background-color: #ffffff99;
}

#header {
position: fixed;
width: 100%;
background-color: #793ea9;
transition: ease-out 0.2s;
padding-top: auto;
}

#header .navbar-collapse{
    width: auto;
    padding: auto;    
}
#header .nav-link{
    font-weight: 200;
    padding-left: 0;
    padding-right: 0;
    margin-left: 15px;
   margin-right: 15px;
   color: white;
}
.img-fluid{
    width: 50px;
}

p{
    font-weight: 200;
    background-color: transparent;
    padding-top: 10%;
    width: auto;
    margin: auto;
    font-size: medium;
    
}

#header .logout{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: right;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
#proposta{
    padding-bottom: 60px;
}

#integrantes{
    margin-bottom: 0px;
    padding: 0px;

}