body, html
{
    font-family: 'Fredoka', sans-serif;
    background-color: #ffffff99;
    zoom:0.95;
    transition: 0.3s;
}
/*scroll bar pesonalizada*/
body::-webkit-scrollbar {
    width: 7px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #523768;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(121, 30, 115);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */  /* creates padding around scroll thumb */
  }
.dark-mode{
    background-color: rgb(18, 18, 18);
    color: rgb(98, 39, 107);
    transition: 0.3s;
}
.sair{
  width:23px;
  position: relative;
  margin-bottom: -3px;
  transition: 0.5s;
}
/*fim*/
.dropdown-item{
    cursor: pointer;
}
.dark:hover
{
    background-color: #baa7c9;
    transition: 0.2s;
    animation:forwards;
}

#header {
position: sticky;
width: auto;
background-color: #793ea9;
transition: ease-in 0.3s;
padding-top: auto;

}
.landingpage2  {

  width: 55%;
	animation: float 3s ease-in-out infinite;
  transition: 2s;
}
 .landingpage  {

  width: 35%;
	animation: float 6s ease-in-out infinite;
  transition: 2s;
}
@keyframes float {
	0% {
		transform: translatey(0px);
    transform: translatex(0px);

	}
	50% {
    transform: translatey(-5px);

	}
	100% {
		transform: translatey(0px);
    transform: translatex(0px);

	}
}


#header .nav-link{
    /* font-weight: 200; */
    padding-left: 0;
    padding-right: 0;
    margin-left: 15px;
   margin-right: 15px;
   color: white;
}
.img-fluid{
    width: 50px;
}

p{
    font-weight: 200;
    background-color: transparent;
    padding-top: 10%;
    width: auto;
    margin: auto;
    font-size: medium;
    
}

#header .logout{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: right;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
#proposta{
    padding-bottom: 60px;
}

#integrantes{
    margin-bottom: 0px;
    padding: 0px;

}
table{
    display: absolute;
    margin:5px;
    max-width: 50%;
    margin-top: 30px;
    /* max-width: 100%; */
}
/*Animação do dropdown*/
@media all and (min-width: 992px) {
	.navbar .dropdown-menu-end{ right:0; left: auto;  }
	.navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:180%;  }
	.navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
}	
/*Fim da animação*/
.vid-border{
  position: relative;
  height: 480px;
  width: 640px;
  border: 1px solid black;
  overflow: hidden;
}
.escuro{
 cursor: pointer;
}