@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}


body, html
{
    font-family: 'Fredoka', sans-serif;
    background-color: #ffffff99;
    zoom:0.95
}

.containerf {
  margin: 50px auto;
  width: 60%;
}
 .form-control {
   margin-bottom: 30px;
   padding-bottom: 10px;
 }

h1 {
  letter-spacing: 1px;
  margin: 0;
  color: #2e75cc;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}


h1 {
  letter-spacing: 1px;
  margin: 0;
  color: #253950;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin-top:77px;
  margin: 0;
  text-transform: uppercase;
}

.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

label {
  display: inline-block;
  margin: 10px 0;
}

.inputransaction
{
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 50%;
  transition: 0.5s;
  /* width: 100%; */
}
.inputransaction:focus
{
width: 100%;
transition: 0.5s;
outline: 0px;
}
.inputvalor
{
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 50%;
  transition: 0.5s;
  /* width: 100%; */
}
.inputvalor:focus
{
width: 100%;
transition: 0.5s;
outline: 0px;
}
.btnf {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
  transition: 0.2s;
}

.btnf:focus,
.delete-btn:focus {
  outline: 0;
}
.btnf:hover
{
  background-color: #FFCA2C;
  transition: 0.2s;
}

.transactions {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.transactions li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.transactions li.plus {
  border-right: 5px solid #2ecc71;
}

.transactions li.minus {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.transactions li:hover .delete-btn {
  opacity: 1;
}

.date{
  margin-top: 0%;
  display: flex;
  transition: 0.2s;
}
/*Personalização do calendário*/
::-webkit-datetime-edit-text { color: rgb(0, 0, 0); padding: 0 0.3em; }
::-webkit-datetime-edit-month-field { color: rgb(163, 93, 168); }
::-webkit-datetime-edit-day-field { color: rgb(163, 93, 168); }
::-webkit-datetime-edit-year-field { color: rgb(163, 93, 168); }
::-webkit-inner-spin-button { display: none; }
/*Fim*/

.dropdownf{
position: relative;
margin-top: 0px;
width: 300px;
height: 50px;

}
.dropdownf::before{
content: '';
position: absolute;
width:15px;
height: 15px;
border: 2px solid rgb(42, 42, 42);
border-top: 2px solid white;
border-right: 2px solid white;
transform: rotate(-45deg);
top: 15px;
left: 85%;
z-index: 10000;
transition: 0.2s;
pointer-events: none;

}
.dropdownf.active::before{
  transform: rotate(-225deg);
  top:22px;
}
.dropdownf.active .option{
  display: block;
}
.dropdownf input{
 position: absolute;
 top: 0;
 width: 100%;
 height: 100%;
 cursor: pointer;
 background: #FFFFFF;
 
}
.dropdownf .option{
  position: absolute;
  top: 50px;
  width: 50%;
  background: rgb(227, 227, 227);
  border-radius: 5px;
  overflow: hidden;
  display: none;
  
}
.dropdownf .option div{
 cursor: pointer;
}
.dropdownf .option div:hover{
  background: #9c88ff;
}
.dropdownf .option div ion-icon{
  position: relative;
  top:4px;
  font-size: 1.2em;
}
.dropdownf .option :focus{
  background: #9c88ff;
}







